html,
body,
#root,
.pane {
    height: 100%;
}

.pane {
    width: 100%;
    display: flex;
}

.pane__left,
.pane__right {
    flex: 1;
    border: 1px solid gray;
}

.pane__right {
    display: flex;
    flex-direction: column;
}

.pane__textarea {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
}

.pane__buttonContainer {
    padding: 0 10px 10px;
}
